<header class="c-header">
    <nav class="c-header__nav">
        <ul class="c-header__list">
            <li class="c-header__item"><a class="c-header__link" href="/">Home</a></li>
            <li class="c-header__item"><a class="c-header__link" href="/admin">Admin</a></li>
            <li class="c-header__item"><a class="c-header__link" href="/about">About</a></li>
            <li class="c-header__item"><a class="c-header__link" href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>