<div class="m-container">
  <main class="row c-main-home">
    <section class="col-md-4 bg-white c-main-home__profile">
      <div class="dropdown border-top c-main-home__user-settings">
        <a
          href="#"
          class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <div class="border border-2 rounded-circle p-3">
            <i class="fa fa-user c-main-home__user-icon"></i>
          </div>
        </a>
        <ul class="dropdown-menu bg-white text-small shadow">
          <li><a class="dropdown-item" href="#">New booking</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Log out</a></li>
        </ul>
      </div>
      <div class="c-main-home__form-login">
        <form class="c-main-home__login">
          <p class="c-main-home__login-cta fw-bold">
            Log in to see your offers and bookings
          </p>
          <div class="form-floating c-main-home__form-floating">
            <input
              type="email"
              class="form-control c-main-home__email"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating c-main-home__form-floating">
            <input
              type="password"
              class="form-control c-main-home__password"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-check c-main-home__form-check text-start my-3">
            <input
              class="form-check-input c-main-home__form-check-input"
              type="checkbox"
              value="remember-me"
              id="flexCheckDefault"
            />
            <label
              class="form-check-label c-main-home__form-check-label"
              for="flexCheckDefault"
            >
              Remember me
            </label>
          </div>
          <button class="btn btn-danger w-100 py-2" type="submit">
            Log in
          </button>
        </form>
      </div>
      <hr />
      <div class="c-main-home__register">
        <div class="c-main-home__register-container">
          <p class="fw-bold c-main-home__register-cta">
            New to talent sage? Register for free
          </p>
          <ul class="list-group mb-2">
            <li class="list-group-item">Get custom club offers</li>
            <li class="list-group-item">Manage your bookings in one place</li>
            <li class="list-group-item">Save details for easier bookings</li>
          </ul>
          <button type="submit" class="btn btn-info w-100 py-2">
            Register now
          </button>
        </div>
      </div>
    </section>
    <section class="col-md-8 c-main-home__celeb">
      <div class="card mb-3 text-center w-100">
        <div class="card-header c-main-home__card-header">
          <p class="c-main-home__text-overlay">20</p>
        </div>
        <div class="card-body bg-white">
          <h5 class="card-title">20 years of Talent Sage</h5>
          <p class="card-text">
            We celebrating our landmark birthday by celebrating South Africa in
            our video
          </p>
          <a href="#" class="btn btn-success">Watch now</a>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/images/card-4.jpg" class="card-img-top" alt="..." />
            <div class="card-body bg-white">
              <h5 class="card-title">Bands at play</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/images/card-4.jpg" class="card-img-top" alt="..." />
            <div class="card-body bg-white">
              <h5 class="card-title">Bands parting</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/images/card-4.jpg" class="card-img-top" alt="..." />
            <div class="card-body bg-white">
              <h5 class="card-title">Nite Club on steriods</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
